.imageContainer {
    margin: 10px auto;
    position: relative;
    background: green;
    clear: both;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 800px;
    height: auto;
    margin-bottom: 30px;
}

.imageDiv {
    width: 100%;
}

.imagePixelsContainer {
    width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clear: both;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 100%;
}

#image {
    width: 800px;
    max-width: 800px;
    max-height: 800px;
    display: block;
    z-index: 0;
}

.imagePixel {
    list-style: none;
    margin: 0;
    padding: 0;
    background: url('./dark-mosaic.png') repeat rgba(225, 225, 225, 0.90) center center;
    width: 33.33%;
    height: 34%;
    z-index: 100;
}