#loginForm{
    background: #34495e;
    color: #fff;
    padding: 20px
}
#loginForm input{
width: 200px; 
height: 30px;
padding: 0 20px;
margin:5px;
border-radius: 5px;
-webkit-border-radius: 5px;
border: none;
outline: none;
font-size: 14px;
color: #2980b9;
margin-left: 0

}
#loginForm .button{
    
    height: 30px;
    padding: 0 20px;
    margin:5px;
    
    }
    